<settings>
    <category label="Miscellaneous">
        <setting id="theme" type="enum" label="80000" values="default" default="default"/>
<!--
        <setting id="db_address" type="text" label="    Address" enable="eq(-1,true)" default=""/>
        <setting id="db_port" type="integer" label="    Port" enable="eq(-2,true)" default=""/>
        <setting id="db_user" type="text" label="    Username" enable="eq(-3,true)" default=""/>
        <setting id="db_pass" type="text" label="    Password" enable="eq(-4,true)" default="" option="hidden"/>
        <setting id="db_name" type="text" label="    Database" enable="eq(-5,true)" default="1channel"/>
//-->
    </category>
<!--
    <category label="Website Integration">
        <setting id="site_enabled" type="bool" label="Enabled" default="False"/>
        <setting id="username" type="text" label="    Username" enable="eq(-1,true)" default=""/>
        <setting id="passwd" type="text" label="    Password" enable="eq(-2,true)" default="" option="hidden"/>
    </category>
    //-->
</settings>
